<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>em2014</display-name>
	<!-- logon filter -->
	<filter>
		<filter-name>LogonFilter</filter-name>
		<filter-class>cn.voicet.gc.filter.LogonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogonFilter</filter-name>
		<url-pattern>*.action</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- 使用Struts2整合Spring, web服务器启动时, 需要加载beans.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 配置struts2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NewTask</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.NewTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewTask</servlet-name>
		<url-pattern>/newTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTel</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.AddTel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTel</servlet-name>
		<url-pattern>/addTel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVoice</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.AddVoice</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVoice</servlet-name>
		<url-pattern>/addVoice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommitTask</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.CommitTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommitTask</servlet-name>
		<url-pattern>/commitTask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryTask</servlet-name>
		<servlet-class>cn.voicet.gc.servlet.QueryTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryTask</servlet-name>
		<url-pattern>/queryTask</url-pattern>
	</servlet-mapping>
	<!-- session time minute -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.action</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>